<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <head th:replace="~{content::css}">
        <style>
            body {
                overflow-x:hidden;
            }
        </style>
    </head>
    <script src="/js/jquery-3.6.1.min.js"></script>
<body>
<div class="container-fluid" th:replace="~{content::header}"></div>

<nav th:replace="~{navbar-fragment::navbar}"></nav>
<div class="container-fluid  ">
<div class="text-center" style="margin-top: 10px"><h2>Contract List</h2></div>

    <div class="row text-success " style="margin-left: 150px" th:text="${message}"></div>

    <div class="container-fluid">
        <button type="button" class="btn btn-primary "><a th:href="@{/contract/showCreate}"
                                                          class="text-white "
                                                          style=" text-decoration: none"> Add new contract</a>
        </button>
    </div>


    <div class="container-fluid mt-5">
    <div class="row">
        <table class="table table-striped">
            <tr class="bg-primary text-light">
                <th>No.</th>
                <th>Service</th>
                <th>Customer</th>
                <th>Start Date</th>
                <th>Begin Date</th>
                <th>Deposit</th>
                <th>Total</th>
                <th colspan="8">Service Detail</th>

            </tr>

            <tr th:each="contract,loop : ${contractList}">

                <th scope="row" th:text="${loop.count}"></th>

                <td th:text="${contract.getFacilityName()}"></td>
                <td th:text="${contract.getCustomerName()}"></td>
                <td th:text="${contract.getStartDate()}"></td>
                <td th:text="${contract.getEndDate()}"></td>
                <td th:text="${contract.getDeposit()}"></td>
                <td th:text="${contract.getTotal()}"></td>

                <td>
                    <button onclick="addGoContract()
                        " type="button" class="btn btn-primary"
                            data-bs-toggle="modal" >
                        +
                    </button>
                </td>
                <td>


                </td>
            </tr>

        </table>
    </div>
</div>

<div class="row">

    <ul class="pagination justify-content-end">
        <li class="page-item">
            <a class="page-link"
               th:href="@{/contract(page=${contractList.number - 1})}"
               th:if="${contractList.hasPrevious()}">
                Previous
            </a>
        </li>
        <li class="page-item active" aria-current="page">
                                            <span class="page-link">
                                                <th:block th:text="${contractList.number + 1}"></th:block>
                                                /
                                                <th:block th:text="${contractList.totalPages}"></th:block>
                                            </span>

        </li>
        <li class="page-item">
            <a class="page-link"
               th:href="@{/contract(page=${contractList.number + 1})}"
               th:if="${contractList.hasNext()}">
                Next
            </a>
        </li>
    </ul>

</div>

</div>
<div class="modal fade" id="staticBackdropDelete" data-bs-backdrop="static"
     data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <form method="post" id="formDelete">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Attach service</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table class="table-bordered table">
                        <thead class="btn-success text-center text-light">
                        <tr>
                            <td>No</td>
                            <td>Name</td>
                            <td>Cost</td>
                            <td>Unit</td>
                            <td>Status</td>
                        </tr>
                        </thead>
                        <tbody id="showAttachFacilityId">
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>

</body>
</html>