<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <head th:replace="~{content::css}">
        <style>
            body {
                overflow-x:hidden;
            }
        </style>
    </head>
<body>
<div class="container-fluid"><div class="row">
    <div th:replace="~{content::header}">
        <nav th:replace="~{navbar-fragment::navbar}"></nav>
    </div></div>


<div class="container-fluid">
    <div class="row main mt-2 ">
        <legend class="text-center">Contract List</legend>
        <legend>
            <button onclick="addContract('${id}')
                " type="button" class="btn btn-primary"
                    data-bs-toggle="modal" data-bs-target="#addContract">
                Add Contract
            </button>
        </legend>

        <table class="table table-striped">
            <tr class="bg-primary text-light">
                <th>No.</th>
                <th>Service</th>
                <th>Customer</th>
                <th>Start Date</th>
                <th>Begin Date</th>
                <th>Deposit</th>
                <th>Total</th>
                <th colspan="8">Service Detail</th>

            </tr>
            <tr>
                <td>1</td>
                <td>Villa</td>
                <td>Nguyễn thị hào</td>
                <td>22-12-2020</td>
                <td>23-12-2020</td>
                <td>500000</td>
                <td>3000000</td>

                <td>
                    <button onclick="addGoContract('${id}')
                        " type="button" class="btn btn-primary"
                            data-bs-toggle="modal" data-bs-target="#addDvmodal">
                        +
                    </button>
                    <button onclick="showGoContract('${id}')
                        " type="button" class="btn btn-primary"
                            data-bs-toggle="modal" data-bs-target="#show">
                        List Facility Detail

                    </button>

                </td>
            </tr>
        </table>

    </div>
</div>

<div class="modal fade" id="addContract" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModal">Thêm dịch vụ đi kèm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row" action="" method="post">
                    <div class="col-md-12">
                        <label for="startday" class="form-label">Ngày bắt đầu </label>
                        <input type="date" class="form-control" id="startday" name="startday">
                    </div>
                    <div class="col-md-12">
                        <label for="endday" class="form-label">Ngày kết thúc </label>
                        <input type="date" class="form-control" id="endday" name="endday">
                    </div>

                    <div class="col-md-12">
                        <label for="deposit" class="form-label">Tiền đặt cọc</label>
                        <input type="text" class="form-control" id="deposit" name="deposit">
                    </div>
                    <div class="col-md-12">
                        <label for="total" class="form-label">Tổng tiền</label>
                        <input type="number" readonly class="form-control" id="total" name="total">
                    </div>

                    <div class="col-md-12">
                        <label class="form-label">Khách hàng</label>
                        <select name="customerName" class="form-select">
                            <option value="None">Chọn khách hàng</option>
                            <option value="1">Diamond</option>
                            <option value="2">Platinium</option>
                            <option value="3">Gold</option>
                            <option value="4">Silver</option>
                            <option value="4">Member</option>

                        </select>
                    </div>
                    <div class="col-md-12">
                        <label class="form-label">Dịch vụ</label>
                        <select name="serviceName" class="form-select">
                            <option value="None">Chọn dịch vụ</option>
                            <option value="1">Villa</option>
                            <option value="2">Room</option>
                            <option value="3">House</option>


                        </select>
                    </div>
                    <div class="col-md-12">
                        <button type="button" class="btn btn-primary mt-2 mb-2" data-bs-toggle="modal"
                                data-bs-target="" >
                            +
                        </button>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="addDvmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm dịch vụ đi kèm </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <table class="table table-striped">
                        <tr>
                            <th>Tên dịch vụ đi kèm</th>
                            <th>Đơn vị</th>
                            <th>Giá tiền</th>
                            <th>Số lượng</th>

                        </tr>

                        <tr>
                            <td><input type="checkbox"> Thuê xe máy</td>
                            <td>Giờ</td>
                            <td>100000</td>
                            <td><input style="width: 70px" type="number"></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"> Thuê xe đạp</td>
                            <td>Giờ</td>
                            <td>50000</td>
                            <td><input style="width: 70px" type="number"></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"> karaoke </td>
                            <td>Giờ</td>
                            <td>200000</td>
                            <td><input style="width: 70px" type="number"></td>
                        </tr>

                        <tr>
                            <td><input type="checkbox"> Buffet Buổi sáng</td>
                            <td>người</td>
                            <td>100000</td>
                            <td><input style="width: 70px" type="number"></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox">  Buffet buổi trưa</td>
                            <td>người</td>
                            <td>100000</td>
                            <td><input style="width: 70px" type="number"></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox">  BUffet buổI tối</td>
                            <td>người</td>
                            <td>100000</td>
                            <td><input style="width: 70px" type="number"></td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="show" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Label">danh sách dịch vụ đi kèm </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <table class="table table-striped">
                        <tr>
                            <th>Tên dịch vụ đi kèm</th>
                            <th>Đơn vị</th>
                            <th>Giá tiền</th>
                            <th>Số lượng</th>
                        </tr>
                        <tr>
                            <td>Thuê xe máy</td>
                            <td>Giờ</td>
                            <td>100000</td>
                            <td>1</td>
                        </tr>

                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>


</div>
<script>
    function addContract(id) {
        document.getElementById("customerName").value = id;
    }
    function addGoContract(id) {
        document.getElementById("id").value = id;
    }
    function showGoContract(id) {
        document.getElementById("id").value= id;
    }
</script>
</body>
</html>