<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container text-center">
    <div class="col-lg-12 text-success" th:text="${message}">
    </div>
    <div class="row"><h2>Book</h2></div>
    <div class="row">
        <div class="col">
            <table class="table table-striped">

                <tr>
                    <th>No.</th>
                    <th>Name</th>
                    <th>Author</th>
                    <th>Count</th>
                    <th colspan="4">action</th>

                </tr>

                <tr th:each="book,loop : ${bookList}">

                    <th scope="row" th:text="${loop.count}"></th>

                    <td th:text="${book.name}"></td>
                    <td th:text="${book.author}"></td>
                    <td th:text="${book.count}"></td>

                    <td>
                        <button type="button" class="btn btn-primary "><a th:href="@{/borrow/{id}(id=${book.id})}"
                                                                          class="text-white "
                                                                          style=" text-decoration: none">Borrow</a>
                        </button>
                    </td>   <td>
                        <button type="button" class="btn btn-primary "><a th:href="@{/pay/{id}(id=${book.id})}"
                                                                          class="text-white "
                                                                          style=" text-decoration: none">Pay</a>
                        </button>
                    </td>

                </tr>

            </table>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <ul class="pagination justify-content-end">
                <li class="page-item">
                    <a class="page-link"
                       th:href="@{/book(page=${bookList.number - 1})}"
                       th:if="${bookList.hasPrevious()}">
                        Previous
                    </a>
                </li>
                <li class="page-item active" aria-current="page">
                                            <span class="page-link">
                                                <th:block th:text="${bookList.number + 1}"></th:block>
                                                /
                                                <th:block th:text="${bookList.totalPages}"></th:block>
                                            </span>

                </li>
                <li class="page-item">
                    <a class="page-link"
                       th:href="@{/book(page=${bookList.number + 1})}"
                       th:if="${bookList.hasNext()}">
                        Next
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</html>