<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <head th:replace="~{content::css}">
        <style>
            body {
                overflow-x:hidden;
            }
        </style>
    </head>
<body>
<div class="container-fluid" th:replace="~{content::header}"></div>

<nav th:replace="~{navbar-fragment::navbar}"></nav>
<div class="container-fluid"><div class="text-center" style="margin-top: 10px">
    <h2>Employee List</h2>
</div></div>

<div class="container-fluid text-center ">
    <div class="row text-success" th:text="${message}"></div>

    <div class="row" style="margin-top: 10px">
        <div class="col-2">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                     data-bs-target="#modal">Add new employee</button>
        </div>
        <div class="col-7"></div>
        <div class="col-3"><form action="/employee">
            <div class="input-group mb-3">
                <input
                        type="text"
                        class="form-control"
                        aria-describedby="button-addon2"
                        name="keyword"
                />
                <button class="btn btn-primary text-white" type="submit" id="button-addon2"
                        data-mdb-ripple-color="dark">
                    Search
                </button>
            </div>

        </form></div>
    </div>

    <div class="row">
            <table class="table table-striped">

            <tr class="bg-primary text-light">
                <th>No.</th>
                <th>Name</th>
                <th>Birthday</th>
                <th>ID Card</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Education Degree</th>
                <th>Position</th>
                <th>Division</th>
                <th colspan="4">Action</th>

            </tr>

            <tr>
                <td>1</td>
                <td>Nguyễn thị hào</td>
                <td>12-3-1946</td>
                <td>090004555</td>
                <td>0900045990</td>
                <td>hao@gmail.com</td>
                <td>Đại học</td>
                <td>Lễ tân</td>
                <td>Hành chính</td>


                <td>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#example">

                        Edit
                    </button>
                </td>


                <td>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                        Delete
                    </button>
                </td>
            </tr>
        </table>
        </div>

    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form action="/delete" method="post">
            <div class="modal-content" style="background-color: darksalmon">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Notification </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body container-fluid">
                    You want to delete Customer: <span id="delete_modal"></span>
                    <input type="hidden" id="sendId" name="id">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Delete</button>

                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">Add Employee</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row" action="" method="post">

                    <div class="col-md-12">
                        <label for="deposit" class="form-label">Name</label>
                        <input type="text" class="form-control" id="deposit" name="deposit">
                    </div>
                    <div class="col-md-12">
                        <label for="birthday" class="form-label">birthday</label>
                        <input type="date"  class="form-control" id="birthday" name="birthday">
                    </div>
                    <div class="col-md-12">
                        <label for="idCard" class="form-label">idCard</label>
                        <input type="text"  class="form-control" id="idCard" name="idCard">
                    </div>

                    <div class="col-md-12">
                        <label for="Phone" class="form-label">Phone</label>
                        <input type="text"  class="form-control" id="Phone" name="Phone">
                    </div>
                    <div class="col-md-12">
                        <label for="Email" class="form-label">Email</label>
                        <input type="text"  class="form-control" id="Email" name="Email">
                    </div>
                    <div class="col-md-12">
                        <label for="education degree" class="form-label">education degree</label>
                        <input type="text"  class="form-control" id="education degree" name="education degree">
                    </div>
                    <div class="col-md-12">
                        <label for="position" class="form-label">position</label>
                        <input type="text"  class="form-control" id="position" name="position">
                    </div>
                    <div class="col-md-12">
                        <label for="salary" class="form-label">salary</label>
                        <input type="text"  class="form-control" id="salary" name="salary">
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="example" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="a">Edit Employee</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row" action="" method="post">

                    <div class="col-md-12">
                        <label for="Name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="Name" name="Name">
                    </div>
                    <div class="col-md-12">
                        <label for="birthday" class="form-label">birthday</label>
                        <input type="date"  class="form-control" name="birthday">
                    </div>
                    <div class="col-md-12">
                        <label for="idCard" class="form-label">idCard</label>
                        <input type="text"  class="form-control" name="idCard">
                    </div>

                    <div class="col-md-12">
                        <label for="Phone" class="form-label">Phone</label>
                        <input type="text"  class="form-control"  name="Phone">
                    </div>
                    <div class="col-md-12">
                        <label for="Email" class="form-label">Email</label>
                        <input type="text"  class="form-control"  name="Email">
                    </div>
                    <div class="col-md-12">
                        <label for="education degree" class="form-label">education degree</label>
                        <input type="text"  class="form-control"  name="education degree">
                    </div>
                    <div class="col-md-12">
                        <label for="position" class="form-label">position</label>
                        <input type="text"  class="form-control"  name="position">
                    </div>
                    <div class="col-md-12">
                        <label for="salary" class="form-label">salary</label>
                        <input type="text"  class="form-control"  name="salary">
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
<script>
    function showModalDelete(deleteModalValue, showModal) {
        document.getElementById("delete_modal").innerText = showModal;
        document.getElementById("sendId").value = deleteModalValue;

    }
</script>
</body>
</html>